@import "@fontsource/inter/index.css";
@import "@fontsource/salsa/index.css";
@import "@fontsource/roboto/400.css"; /* Regular */
@import "@fontsource/roboto/700.css";

@import "tailwindcss";
:root {
  background: #121212;
  background-image: url("./assets/bg.svg");

  /* background-attachment: fixed;  */
}
.dark {
  background: #f3f4f6;
  background-image: url("./assets/bg.svg");

}

body {
  will-change: background-position;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide scrollbar for all elements with this class */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Normal state */
#first_name {
  display: block;
  background-color: #1f2937;
  width: 100%;
  padding: 0.625rem;
  font-size: 14px;
  color: #fff;
  /* border-radius: 2.375rem; */
  border: 1px solid #c2410c;
  fill: #fff;
  outline: none;
}

/* Focus state */
#first_name:focus {
  border-color: #c2410c;
  box-shadow: 0 0 0 1px #c2410c;
}

/* Textarea Styles */
#message {
  display: block;
  background-color: #1f2937;
  width: 100%;
  padding: 0.625rem;
  font-size: 14px;
  color: #fff;
  border-radius: 1rem; /* Adjust as needed */
  border: 1px solid #c2410c;
  resize: vertical; /* Allow resizing only vertically, optional */
  outline: none;
}

/* Focus state */
#message:focus {
  border-color: #c2410c;
  box-shadow: 0 0 0 1px #c2410c;
}

.libertinus-math-regular {
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .underline-hover-center {
    @apply cursor-pointer hover:text-gray-500 font-semibold  px-2 py-1 rounded-md relative inline-block text-[18px];
    @apply after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-0 after:translate-x-[-50%] after:bg-gradient-to-r after:from-transparent after:via-orange-700 after:to-transparent after:transition-all after:duration-500 hover:after:w-full;
  }
  .home-underline {
    @apply relative hover:text-gray-500 cursor-pointer  text-center md:text-2xl text-xl font-bold;
    @apply after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-gradient-to-r after:from-transparent after:via-red-600 after:to-transparent after:transition-all after:duration-500 hover:after:left-0 hover:after:w-full active:transition-all active:duration-1000 active:after:left-0 active:after:w-full;
  }
}
